<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font-awesome version 5.15.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- local css stylesheets -->
    <link rel="stylesheet" href="css/my_frame.css">
    <link rel="stylesheet" href="css/style.css">
    <title>ToBool</title>
</head>

<body>
    <!-- VUE CONTAINER -->
    <div id="root">
        <!-- HEADER -->
        <header>
            <img src="https://www.boolean.careers/images/misc/logo.png" alt="logo Boolean" class="logo">
        </header>
        <!-- END HEADER -->

        <!-- MAIN -->
        <main class="flexer col center">
            <!-- div.add-to-list -->
            <div class="add-to-list text-center">
                <input v-model="message" type="text" placeholder="Nuovo Todo" aria-label="Aggiungi"
                    @keyup.enter="addTask(message)">
                <button @click="addTask(message)">Aggiungi</button>
            </div>
            <!-- END div.add-to-list -->

            <!-- ul.tasks-lists -->
            <ul class="tasks-list">
                <li class="flexer between center-cross" v-for="(task, index) in tasks">
                    <span>{{ task.taskDescription }}</span>
                    <div class="actions flexer">
                        <i class="fas fa-times" @click="removeTask(index)"></i>
                    </div>
                </li>
            </ul>
            <!-- ul.tasks-lists -->
        </main>
        <!-- END MAIN -->

    </div>
    <!-- END VUE CONTAINER -->

    <!-- vue.js last 2.* version -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- local js script -->
    <script src="js/script.js"></script>
</body>

</html>